<div class='home'>
  <h1 class='title'>Settings</h1>
  <div class='home-component'>
    <h2 class='sub-title'>Your clinician</h2>
    <h3>Clinician name</h3>
    <p>Lam Nguyen</p>
    <h3>DOB</h3>
    <p>Lam Nguyen</p>
    <h3>Phone number</h3>
    <p>Lam Nguyen</p>
    <h3>Email</h3>
    <p>Lam Nguyen</p>
  </div>

  <div class='home-component'>
    <h2 class='sub-title'>Profile <i class="fa fa-edit" onclick="toggle_edit_setting()"></i></h2>
    <h3>Clinician name</h3>
    <p>Lam Nguyen</p>
    <h3>DOB</h3>
    <p>Lam Nguyen</p>
    <h3>Phone number</h3>
    <p>Lam Nguyen</p>
    <h3>Email</h3>
    <p>Lam Nguyen</p>
  </div>

  <div class='home-component'>
    <h2 class='sub-title'>Account</h2>
    <a href="">Change password</a>
  </div>
</div>

<div>
  {{!-- Change password pop-up --}}
</div>

<script>
  function toggle_change_password() {

  }
</script>