
<div class = "text-content">
  <form class = "search-bar-box" action = "/clinician/messages">
    <div class = "input-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type = "text" placeholder="search {{type}}.." name = "search">
    </div>
  </form>
</div>
