<footer>
  <div class='footer-upper'>
    <div class='footer-logo'>
      <img src='.././images/logo.png' />
      <p>Diabetes@Home</p>
    </div>
    <div class='footer-items'>
      <a href='./about-this-website'>About Diabetes@Home</a>
      <a href='./about-diabetes'>About Diabetes</a>
      <a href='/contact-us'>Contact us</a>
      <a href='/press-kit'>Press kit</a>
    </div>
  </div>
  <p class='footer-copyright'>©Diabetes@Home 2022</p>
</footer>