<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Diabetes Home</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel='stylesheet' href='/css/patient.css' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap'
      rel='stylesheet'
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
     <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>

    {{! SIDE BAR }}
    <div class='sidebar' id='sidebar'>
      <button onclick='sidebar_close()'>&times;</button>
      <a href='/about-diabetes'>About Diabetes</a>
      <a href='/about-this-website'>About This Website</a>
    </div>
    {{! END OF SIDE BAR }}
    
    {{! HEADER }}
    <header class='header'>
      <nav class='navbar'>
        <button
          class='sidebar-icon xxlarge'
          style='width: 60px;'
          onclick='sidebar_open()'
        >&#9776;</button>
        <a href='/'>
           <img src='/images/logo.png' />
        </a>
        <div class='nav-items'>
          <button onclick='open_dashboard()'><b>Dashboard</b></button>
          <button onclick='open_settings()'><b>Settings</b></button>
          <form class="logout" action="/logout" method="post">
            <button type="submit">Log Out</button>
          </form>
        </div>
      </nav>

    </header>
    
    {{! END OF HEADER }}

    {{! PAGE'S CONTENT }}
    <main>
      {{{body}}}
    </main>
    {{! END OF PAGE'S CONTENT }}

    {{! FOOTER }}
     {{! FOOTER }}
    <footer class='footer'>
      <div class='footer-upper'>
        <div class='footer-logo'>
            <img src='/images/logo.png' />
          <p>Diabetes@Home</p>
        </div>
        <div class='footer-items'>
          <a href='/about-this-website'>About Diabetes@Home</a>
          <a href='/about-diabetes'>About Diabetes</a>
          <a href='contact.html'>Contact us</a>
          <a href='press-kit.html'>Press kit</a>
        </div>
      </div>
      <p class='footer-copyright'>©Diabetes@Home 2021</p>
    </footer>
    {{! END OF FOOTER }}
  </body>
  <script type = "text/javascript">
    function open_settings() {} 
    function open_dashboard() {}

    $(document).ready(function() {
        $((".icon")).on('click', function() {
            const nameOfPopUp = '#' + $(this).attr('id') + '-popup';
            $(nameOfPopUp).addClass('active');
            $("#overlay").addClass('active');
            $(".exit-button").on('click', function() {
                $(nameOfPopUp).removeClass('active');
                $("#overlay").removeClass('active')
            });
        })
    })
    // Functions to interact with side bar function sidebar_open
    function sidebar_open() {
      document.getElementById('sidebar').style.width =
        '250px';
    }

    function sidebar_close() {
      document.getElementById('sidebar').style.width = '0px';
    }


    // Functions to enable datepicker
    var selectedDate = document.getElementById("inputDates").value.split(",");    

    function highlightDays(date) {
        var fDate = $.datepicker.formatDate('dd-mm-yy', date);
        var result = [true, ""];
        $.each(selectedDate, function(k, d) {
            if (fDate === d) {
                result = [true, "highlight-blue"];
            }
        });
        return result;
    };

    $(".datepicker").datepicker({
        prevText: '<i class="fa fa-fw fa-angle-left"></i>',
        nextText: '<i class="fa fa-fw fa-angle-right"></i>',
        dateFormat: "dd/MM/yy",
        beforeShowDay: highlightDays,
    });
  </script>
</html>

