<div class='home'>
  <h1 class='title'>About Diabetes</h1>
  <div class='home-component'>
    <p>
      Diabetes is a chronic (long-lasting) health condition that affects how
      your body turns food into energy.
    </p>
    <p>
      Most of the food you eat is broken down into sugar (also called glucose)
      and released into your bloodstream. When your blood sugar goes up, it
      signals your pancreas to release insulin. Insulin acts like a key to let
      the blood sugar into your body&apos;s cells for use as energy.
    </p>
    <br />
    <img src='./images/Image-1.png' />
    <br />
  </div>
  <div class='home-component'>
    <h2 class='sub-title'>Diabetes has 3 types:</h2>
    <br />
    <img
      src='./images/DiabetesInfographic.png'
    />
    <br />
    <div class='video-container'>
      <iframe
        width='936'
        height='628'
        src='https://www.youtube.com/embed/X9ivR4y03DE?autoplay=1&mute=1'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture'
        allowfullscreen
    >
    </div>
    </iframe>
    <br />
  </div>
  <div class='home-component'>
    <h2 class='sub-title'>Learn more</h2>
    <div>
      <a href='https://www.cdc.gov/diabetes/basics/diabetes.html'>Source</a>
    </div>
    <div>
      <a href='https://www.cdc.gov/diabetes/managing/index.html'>
        Living with diabetes</a>
    </div>
    <div>
      <a href='https://www.cdc.gov/diabetes/library/spotlights.html'>
        Diabetes and Prediabetes Articles</a>
    </div>
    <div>
      <a href='https://www.cdc.gov/diabetes/campaigns/index.html'>
        Awareness campaigns</a>
    </div>
    <div>
      <a
        href='https://www.cdc.gov/diabetes/library/socialmedia/infographics.html'
      >Infographics</a>
    </div>
  </div>
</div>