<div class = "contact-us-page">
    <div>
         <h1 class='title'>Contact Us</h1>
         <p class = 'contact-sub-title'>Have a feature request? Want to know more about us? Contact us here:</p>
    </div>
    <div class = 'contact-form'>
        <form id = "contact-form">
            <div id = "info-for-contact">
                <p>Name</p>
                <input type = "text" id = "name" name = "name" value = "name" required>
                <p>Email</p>
                <input type = "text" id = "email" name = "email" value = "email" required>
            </div>
            <div id = "message-for-contact">
                <p>Message</p>
                <input type = "text" id = "message" name = "message" value = "message" required>
            </div>
            <input type = "submit" id = "contact-submit-button" value = "Submit">
        </form>
    </div>
</div>