<div class='home'>
  <div class='homepage-section'>
    <div class='left-side homepage-hero text-box'>
      <p class='title homepage-hero'>Diabetes management made easy.</p>
      <p class='homepage-hero'>Diabetes@Home allows clinicians to monitor their
        patients remotely, leading better engagement and clinical outcomes.</p>

    </div>
    <div class='right-side'>
      <img class='hero-image' src='./images/homepage-hero.png' />
    </div>
  </div>
  <div class='homepage-section'>
    <div class='left-side text-box'>
      <p class='title'>What is diabetes?</p>
      <p>Diabetes is a chronic condition which affects millions of people
        worldwide. If improperly managed, diabetes can lead to severe health
        problems such as strokes, heart diseases and kidney diseases. However,
        proper management of diabetes can effectively prevent the development of
        related health issues.</p>
      <a href='about-diabetes'>
        <button>About diabetes</button>
      </a>
    </div>
    <div class='right-side'>
      <img class='feature-image' src='./images/homepage-1.png' />
    </div>
  </div>
  <div class='homepage-section' id='reverse-when-phone'>
    <div class='left-side'>
      <img class='feature-image' src='./images/homepage-2.png' />
    </div>
    <div class='right-side text-box'>
      <p class='title'>How we help</p>
      <p>Diabetes@Home directly connects patients to clinicians. With
        Diabetes@Home, clinicians can monitor patient statistics as well as set
        exercise targets, leading to better clinical outcomes.</p>
      <a href='about-this-website'>
        <button>About this website</button>
      </a>
    </div>

  </div>
</div>