<div class='home'>
  <div class='homepage-section'>
    <div class='left-side'>
      <p class='title'>Diabetes management made easy.</p>
      <p>Diabetes@Home allows clinicians to monitor their patients remotely,
        leading better engagement and clinical outcomes.</p>

    </div>
    <div class='right-side'>
      <img src='./images/homepage-hero.png' />
    </div>
  </div>
  <div class='home-component'>
    <p>This paragraph is rendered in index.hbs</p>
  </div>
  <div class='home-component'>
    <p>This file should be replaced with homepage</p>
  </div>
</div>