<div class='home' style='text-align: center;'>
  <h1 class='title'>Login</h1>
  <p>
    Have not got an account?
    <a href='/register'>Register as a clinician</a>
    <br />
    (Patient registration require contact with your clinician)
  </p>
  {{#each flash}}
  <p class="alert">{{this}}</p>
  {{/each}}
  <form action='/login' method='POST'>
    <label for='email'>Email</label>
    <input type='email' name='email' id='email' required />
    <label for='password'>Password</label>
    <input type='password' name='password' id='password' required />
    <br/>
    <div class='button-wrapper' style='width: 100%;'>
      <button type='submit' class='button large-button-variant'>Login</button>
    </div>
  </form>
</div>

