<div class = "dashboard">
        <div class = "left" id = "today-task">
            <h3>Today's tasks:</h3>
            <div class = "tasks">

                <div>
                    <img src = "./images/Blood-glucose-input.png">
                <h4>Blood glucose</h4>
                <form>
                    <ul>
                        <li>

                            <input type = "text" id = "blood-glucose" name = "blood-glucose" placeholder="Input here">
                            <label for = "enter-blood-glucose">nmod/L</label>
                        </li>
                        <p class = "black-title">Notes</p>
                        <li>
                            <input type = "text" id = "blood-glucose-notes" name = "blood-glucose-notes" placeholder= "Input text here">
                        </li>
                        <li>
                            <input type = "submit" value = "View data" id = "view-data-input" class = "button">
                            <input type = "submit" value = "Submit" id = "submit-input" class = "button">
                        </li>
                    </ul>
                </form>
                </div>
                <div>
                    <img src = "./images/Exercise-input.png">
                <h4>Exercise</h4>
                 <form>
                    <ul>
                        <li>
                            <input type = "text" id = "excercise" name = "exercise" placeholder="Input here">
                            <label for = "enter-steps">steps</label>
                        </li>
                        <p class = "black-title">Notes</p>
                        <li>
                            <input type = "text" id = "excercise-notes" name = "exercise-notes" placeholder= "Input text here">
                        </li>
                        <li>
                            <input type = "submit" value = "View data" id = "view-data-input" class = "button">
                            <input type = "submit" value = "Submit" id = "submit-input" class = "button">
                        </li>
                    </ul>
                </form>
                </div>
                </div>
        </div>
        <div class = "right" id = "message">
            <div>
                <p>Welcome, Wezheng</p>
                <p>10:24AM AEDT</p>
                <p>Wednesday, 19 March 2022</p>
            </div>
            <p><b>Messages from clinician</b></p>
            <div class = "message-box">
                <p>Good work with the high engagement rate, keep it up</p>
                <p>Dismiss</p>
            </div>
            <div class = "message-box">
                <p>You haven't done enough exercise recently. Please aim for 5000 steps daily.</p>
                <p>Dismiss</p>
            </div>
            <button class = "small-button">View all</button>
        </div>
        <div class = "left" id = "completed">

            <h3>Already completed:</h3>
            <div class = "tasks">
                <div>
                    <img src = "./images/insulin-doses.png">
                    <h4>Insulin doses</h4>
                    <p>2 doses</p>
                    <p class = "black-title">Notes</p>
                    <p>2 doses as usual. First dose at 9am and second dose at 9pm.</p>
                    <button class = "small-button">View & edit</button>
                </div>
            </div>
        </div>
        <div class = "right" id = "engagement">
            <div class = "streak">
                <img src = "./images/Icon metro-fire.png">
                <span>9 days streak</span>
                <p>Highest streak 9 days</p>
                <p>Complete today's tasks</p>
                <p>set a new personal best</p>
            </div>
        </div>
        <div class = "left" id = "inactive">
            <h3>Inactive</h3>
            <div class = "tasks">
                <div class = "inactive-tasks">
                <img src = "./images/weight-input.png">
                <h4>Weight</h4>
                <p>Your clinician has specified that you no</p> 
                <p>longer need to record this time series, but</p> 
                <p>you can still view your past data.</p>
                <button class = "small-button">View data</button>
            </div>
        </div>
        </div>

        <div class = "left" id = "patient-resources">
            <h3>Patient resources</h3>
            <div id = "patient-resources-content">
            <div class = "content" id = "patient-resources-text">

                <p>When you need to record data every day, staying motivated can
                be a challenge. Learn from these 8 expert tips on how to
                consistently record your data every day.</p>
                <button class = "big-button button">Learn more</button>
            </div>

            <img src = './patient-resources-img1.png' class = "patient-resources-img">

            </div>
            <div id = "patient-resources-content">
                <div class = "content" id = "patient-resources-text">

                    <p>Recording your blood glucose is an essential part of diabetes
                    care. Here's how to do it properly.</p>
                    <button class = "big-button button">Learn more</button>
                </div>
                <img src = './images/patient-resources-img2.png' class = "patient-resources-img">
            </div>
        </div>
    </div>