<div class='home'>
  <h1 class='title'>Press kit</h1>
  <div class='home-component'>
    <h2 class='sub-title'>Our mission</h2>
    <div class='mission'>
      <p>
          This website is created to help bridge the communication between
          diabetes patient and their clinicians. The patients can use this
          website to easily record their own health data. The clinicians can
          manage multiple patients and support them through positive messages.
      </p>
      <img src='./images/misson-img.gif' id='misson-img' />
    </div>
    <div style="text-align: center;">
        <button class="large-button-variant" onclick="location.href='/about-this-website'">About us</a>
    </div>
  </div>
  <h1 class="title" style="font-size: xx-large;">Contact Details</h1>
  <div class='home-component'>
    <p>
      For media enquiries, pleas contact us at 
      <strong style="color: #0a57ae;">media@diabetesathome.com</strong>,
       or via the contact form on our website.
    </p>
    <div style="text-align: center;">
      <button class="large-button-variant" onclick="location.href='contact-us'">Contact us</a>
    </div>
  </div>
  <h1 class="title" style="font-size: xx-large;">Media Assets</h1>
    <div style="display:flex; flex-wrap:wrap;">
      <img src='./images/logo1.png' id='img1' class="img"/>
      <img src='./images/logo2.png' id='img2' class="img"/>
      <img src='./images/logo3.png' id='img3' class="img"/>
      <img src='./images/logo4.png' id='img4' class="img"/>
      <img src='./images/homepage-2.png' id='img5' class="img"/>
      <img src='./images/homepage-hero.png' id='img6' class="img"/>
      <img src='./images/homepage-1.png' id='img7' class="img"/>
    </div>
</div>