.tabs {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-right: 0px;
    margin-left: auto;
}

.tabs .tab {
    width: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tabs .tab:hover {
    background-color: #0a56ae7c;
}

.chosen {
    background-color: #0a57ae;
}

.tabs .tab label {
    cursor: pointer;
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 1em;
    padding: 1rem 0;
    text-align: center;
}

.chosen label {
    color: white;
}

.tab-content {
    display: none;
    padding: 1rem 0px;
}

.tab-show {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 0.3s ease-in-out;
    align-items: center;
}