.tabs {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.tabs .tab {
    width: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chosen {
    background-color: #0a57ae;
}

.tabs .tab label {
    cursor: pointer;
    display: block;
    font-size: 26px;
    font-weight: bold;
    line-height: 1em;
    padding: 1rem 0;
    text-align: center;
}

.chosen label {
    color: white;
}