.dashboard{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
} 
.dashboard div{
    flex-basis: 50%;
}
.dashboard:nth-child(3){
    flex-basis: 70% !important;
}
.dashboard:nth-child(4){
    flex-basis: 30% !important;
}
