/* ======== CSS FOR POP-UP AND TABS ======== */

.popup {
  visibility: hidden;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.threshold-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 20% 10%;
}

.threshold-card {
  background-color: white;
  border-radius: 30px;
  border: 4px solid #0a57ae;
  padding: 20px;
}

.popup-button-group {
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.popup-button-group button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.popup-cancel-button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 4px solid #0a57ae;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-right: 0px;
  margin-left: auto;
}

.tabs .tab {
  width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 4px solid #0a57ae;
}

.tabs .tab:hover {
  background-color: rgb(212, 235, 255);
}

.chosen {
  background-color: #0a57ae;
}

.tabs .tab label {
  cursor: pointer;
  display: block;
  font-size: 26px;
  font-weight: bold;
  line-height: 1em;
  padding: 1rem 0;
  text-align: center;
}

.chosen label {
  color: white;
}

.tab-content {
  display: none;
  padding: 1rem 0px;
}

.tab-show {
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

.noHover {
  pointer-events: none;
}

#overview-tab {
  flex-direction: column;
  gap: 2rem;
}

#detailed-tab {
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-row {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.right-input-field {
  border-collapse: collapse;
  width: 30%;
}

.right-input-field td {
  text-align: center;
}

.right-input-field td input {
  border: none;
  border-bottom: 1px solid #0a57ae;
  width: 100px;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}