@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --primary-color: #0a57ae;
}

* {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 120%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: #0a57ae;
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: #0a57ae;
  height: 300px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-left: 12.8125vw;
  padding-right: 12.8125vw;
  padding-top: 72px;
  padding-bottom: 32px;
  justify-content: space-between;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-logo p {
  color: white;
  text-align: center;
}

footer img {
  width: auto;
  height: 87px;
}

.footer-copyright {
  text-align: center;
  color: white;
}

.footer-items a {
  color: white;
}

.navbar {
  background-color: #0a57ae;
  width: 100%;
  height: 80px;
  font-size: 20px;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.8125vw;
}

.navbar a {
  color: white;
}

.navbar img {
  width: auto;
  height: 45px;
  /* position: absolute; */
}
.navbar .nav-items {
  display: flex;
  align-items: center;
  gap: 3.125vw;
  padding-top: 4px;
}
.navbar button {
  height: 40px;
  width: 160px;
  border-radius: 16px;
  border-style: none;
  background-color: white;
  cursor: pointer;
  color: #0a57ae;
}

.navbar button:hover {
  background-color: #d0e0f1;
  transition: 0.1s;
}

/* Icon size */
.xlarge {
  font-size: 24px !important;
}
.xxlarge {
  font-size: 36px !important;
}

/* LARGER SCREEN */
@media (min-width: 964px) {
  .title {
    font-size: 48px;
  }
  .nav-items a {
    display: block;
  }
  .footer-items {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  .sidebar-icon {
    display: none;
  }
  .mission p {
    width: 50%;
  }
  .homepage-section {
    flex-direction: row;
  }
  form {
    width: 40%;
  }
}
/* SMALL SCREENS */
@media (max-width: 964px) {
  .title {
    font-size: 28px;
  }
  p {
    font-size: 15px;
  }
  .nav-items a {
    display: none;
  }
  .footer-items {
    display: none;
  }
  .sidebar-icon {
    padding-left: 15px;
    color: #fff !important;
    background-color: #0a57ae !important;
    align-items: center;
  }
  .navbar button {
    width: 100px;
  }
  .footer-upper {
    justify-content: center;
  }
  .home-component {
    text-align: center;
  }
  .mission p {
    width: 100%;
  }
  .home-component img {
    width: 100%;
    height: auto;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mission {
    flex-direction: column;
    gap: 100px;
  }
  .verticle-line {
    display: none;
  }
  .users {
    flex-direction: column;
    gap: 48px;
  }
  .homepage-section {
    flex-direction: column;
  }
  #reverse-when-phone {
    flex-direction: column-reverse;
  }
  form {
    width: 80%;
  }
}

/* sidebar items */
.sidebar {
  height: 195px;
  width: 0px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.sidebar button {
  height: 33%;
  width: 100%;
  text-decoration: none;
  font-size: 40px;
  color: #0a57ae;
  display: block;
  border: none;
}
.sidenav button:hover {
  background-color: #d0e0f1;
}
.sidebar a {
  height: 33%;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: #0a57ae;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar a:hover {
  background-color: #d0e0f1;
}

.home {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10vh 12.8125vw 10vh 12.8125vw;
  gap: 36px;
}
.title {
  text-align: center;
  color: #0a57ae;
}
.sub-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0a57ae;
}
.mission {
  display: flex;
  justify-content: space-between;
}

.mission img {
  margin: 0;
  position: relative;
  bottom: 100px;
}
.users {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 11px;
}
#clinicians {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 51px;
}
.verticle-line {
  border-left: 2px solid #707070;
  height: 560px;
  width: 0;
}

.user-text {
  text-align: center;
  padding: 0 4vw;
}

.user-text p {
  text-align: left;
}

iframe {
  display: block;
  margin: 0 auto;
}

img {
  width: auto;
  height: 315px;
  display: block;
  margin: 20px auto;
}

p {
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.home-component a {
  color: #0a57ae;
}

.home-component li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 1vh;
}

.homepage-section {
  text-align: left;
  display: flex;
  margin-bottom: 5vh;
}
.homepage-section .left-side {
  flex: 1 1 0;
}

.homepage-section .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.homepage-section p {
  box-sizing: border-box;
  padding: 0 5vw;
}

.homepage-section .right-side {
  flex: 1 1 0;
}

.homepage-section img {
  width: 100%;
  height: auto;
}

.homepage-section .feature-image {
  padding: 5vh 5vw;
  border-radius: 25%;
}

.homepage-section .hero-image {
  padding: 0;
  margin: 0;
}

.homepage-section button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 16px;
  border: 0;
  padding: 1vh 1vw;
  cursor: pointer;
}

.homepage-hero {
  background-color: var(--primary-color);
  color: white;
}

form {
  text-align: left;
  margin: auto;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border-style: solid;
  border-color: #0a57ae;
  border-width: 1px;
}

form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border-style: solid;
  border-color: #0a57ae;
  border-width: 1px;
}

form .button-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

button {
  border-style: none;
  background-color: #0a57ae;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.large-button-variant {
  height: 64px;
  width: 240px;
  border-radius: 16px;
  font-size: 1.2em;
}

.small-button-variant {
  height: 40px;
  width: 160px;
  border-radius: 16px;
  font-size: 1em;
}

button:hover {
  background-color: #186dcc;
  transition: 0.1s;
}
