<div class='dashboard'>
  {{! HEADINGS }}
  <div class='dash-header'>
    <h1 class='title'>Clinician Dashboard</h1>
    <div class='cli-info'>
      <p style='margin-bottom: 20px'>Hello, <b id='cli_name'>clinician name</b></p>
      <p id='time'><var>time</var></p>
      <p id='date'><var>date</var></p>
      <script>
        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
        var today = new Date();
        var time = today.getHours() + ':' + today.getMinutes() + ' ' + Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.getElementById('time').innerHTML = time;
        var date = days[today.getDay()] + ', ' + today.getDate() + ' ' + months[today.getMonth()] + ' ' + today.getFullYear();
        document.getElementById('date').innerHTML = date;
      </script>
    </div>
  </div>

  {{! SEARCHING BAR }}
  <div class='searching-area'>
    <input type='text' placeholder="Search patient..">
    <button class='icon-button'><i class='fa fa-search'></i></button>
    <button class='icon-button'><i class='fa fa-plus'></i></button>
  </div>
</div>