<div id='pat-default-info'>
  <div class='dash-header'>
    <div style='display: flex; gap: 20px;'>
      <img src='.././images/sampleAvatar.jpg' class='avatar' />
      <div class='flex-column pat-info'>
        <p><b id='pat_name' style='font-size: 25px'>{{patientName}}</b></p>
        <p id='email'><b>Email: </b>{{patinetEmail}}</p>
        <p id='phoneNo'><b>Phone number: </b>{{patientPhoneNo}}</p>
        <p id='dob'><b>Date of birth: </b>{{patientDob}}</p>
      </div>
    </div>
    <div class='flex-column' style='gap: 10px;'>
      <button class='cli-btn cli-btn-white'>View notes<i
          class='fa fa-sticky-note cli-btn-icon'
        ></i></button>
      <button class='cli-btn cli-btn-default'>View messages<i
          class='fa fa-commenting-o cli-btn-icon'
        ></i></button>
    </div>
  </div>
  <hr style='border: 2px solid #292929;' />
  <div class='searching-area'>
    <i
      class='fa fa-check-circle'
      style='font-size:xx-large; color: #2b7a3d'
    ></i>
    <p style='margin-bottom: 0px;'><b>This patient has entered today's data:</b></p>
  </div>
  {{! TODAY'S DATA TABLE }}
  <div class='flex-column table-section'>
    <table class='dash-table'>
      <tr>
        <th>STATUS</th>
        <th>BLOOD GLUCOSE LEVEL</th>
        <th>WEIGHT</th>
        <th>DOSES OF INSULIN TAKEN</th>
        <th>STEP COUNTS</th>
      </tr>
      <tr style='border-bottom: 2px solid #292929;'>
        <td><i
            class='fa fa-check-circle'
            style='font-size:xx-large; color: #2b7a3d'
          ></i></td>
        <td>135 nmol/L</td>
        <td>91 kg</td>
        <td>2 doses</td>
        <td>5000</td>
      </tr>
    </table>
  </div>
</div>