<div class='flex-column dashboard'>
  {{!-- DEFAULT-INFO --}}
  {{> pat-default-info }}

  {{!-- TODAY'S DATA TABLE --}}
  <div>
    <div class="searching-area">
      <i class='fa fa-check-circle' style='font-size:xx-large; color: #2b7a3d'></i>
      <p style="margin-bottom: 0px;"><b>This patient has entered today's data:</b></p>
    </div>
    <div class='flex-column table-section'>
      <table class='dash-table'>
        <tr>
          <th>STATUS</th>
          <th>BLOOD GLUCOSE LEVEL</th>
          <th>WEIGHT</th>
          <th>DOSES OF INSULIN TAKEN</th>
          <th>STEP COUNTS</th>
        </tr>
        <tr style="border-bottom: 2px solid #292929;">
          <td><i class='fa fa-check-circle' style='font-size:xx-large; color: #2b7a3d'></i></td>
          <td>135 nmol/L</td>
          <td>91 kg</td>
          <td>2 doses</td>
          <td>5000</td>
        </tr>
      </table>
    </div>

    {{!-- SAFETY THRESHOLDS --}}
    {{> safety-threshold }}

    {{!-- RECORDED DATA --}}
    <p style="margin-top: 20px;"><b style="font-size: 22px;">Recorded data:</b></p>
    <div style="display:flex; justify-content: flex-end; gap: 15px;">
      <button class="cli-btn cli-btn-center cli-btn-default">View details</button>
      <button class="cli-btn cli-btn-center cli-btn-default">Show monthly</button>
      <button class="cli-btn cli-btn-center cli-btn-white">Show previous</button>
      <button class="cli-btn cli-btn-center cli-btn-white">Show next</button>
    </div>
  </div>