<div class='flex-column dashboard'>
  {{!-- DEFAULT-INFO --}}
  {{> pat-default-info }}

  {{!-- SAFETY THRESHOLDS --}}
  {{> safety-threshold }}

  {{!-- RECORDED DATA --}}
  <p style="margin-top: 20px;"><b style="font-size: 22px;">Recorded data:</b></p>
  <div class="tabs">
    <div class="tab chosen" id="overview" onclick="OnTabChosen('detailed', 'overview')">
      <label for="overview">Overview</label>
    </div>
    <div class="tab" id="detailed" onclick="OnTabChosen('overview', 'detailed')">
      <label for="details">Details</label>
    </div>
  </div>
</div>

<script>
  function OnTabChosen(chosenTab, targetTab) {
    var currTab = document.getElementById(chosenTab);
    if(currTab.classList.contains('chosen')){
      currTab.classList.remove('chosen');
    }
    var nextTab = document.getElementById(targetTab);
    if(!nextTab.classList.contains('chosen')){
      nextTab.classList.toggle('chosen');
    }
  }
</script>