<div class='flex-column dashboard'>
  {{!-- DEFAULT-INFO --}}
  {{> pat-default-info }}

  {{!-- SAFETY THRESHOLDS --}}
  {{> safety-threshold }}

  {{!-- RECORDED DATA --}}
  <p style='margin-top: 20px;'><b style='font-size: 22px;'>Recorded data:</b></p>
  <div class='tabs'>
    <div class='tab chosen noHover' id='overview'
      onclick="OnTabChosen('detailed', 'overview', 'detailed-tab','overview-tab')">
      <label for='overview'>Overview</label>
    </div>
    <div class='tab' id='detailed' onclick="OnTabChosen('overview', 'detailed','overview-tab', 'detailed-tab')">
      <label for='details'>Details</label>
    </div>
  </div>

  {{!-- Overview tab content --}}
  <div id='overview-tab' class='tab-content tab-show'>
    <button disabled='disabled' class='date-box noHover'>From Mar 1-7</button>
    <div class='overview-chart'>
      <h2>BLOOD GLUCOSE LEVEL</h2>
      <div class='chart-card'>
        <div id='chart1' class='chart-container'></div>
      </div>
    </div>
  </div>

  {{!-- Detailed tab content --}}
  <div id='detailed-tab' class='tab-content'>
    {{#each detailedData}}
    <div class='flex-column detailed-table'>
      <h2>BLOOD GLUCOSE LEVEL</h2>
      <table id='{{id}}' style="border-collapse: collapse; margin-bottom:1rem">
        <tr style='border-bottom: 2px solid #0a57ae;'>
          <th>Timestamp</th>
          <th>nmol/L</th>
          <th>Notes</th>
        </tr>
        <tr style='border-bottom: 1px solid #292929;'>
          <td>16/02/2022 18:35:24</td>
          <td>6700</td>
          <td></td>
        </tr>
        <tr style='border-bottom: 1px solid #292929;'>
          <td>17/02/2022 18:35:24</td>
          <td>6800</td>
          <td>I had some fruit juice st dinner</td>
        </tr>
      </table>
      <a href="">Download all data (.csv) <i class='fa fa-download'></i></a>
    </div>
    {{/each}}
  </div>
</div>
</div>

<script>
  function OnTabChosen(chosenTab, targetTab, chosenTabContent, targetTabContent) {
    var currTab = document.getElementById(chosenTab);
    if (currTab.classList.contains('chosen')) {
      currTab.classList.toggle('chosen');
      currTab.classList.toggle('noHover');
      var currTabContent = document.getElementById(chosenTabContent);
      currTabContent.classList.toggle('tab-show');
    }
    var nextTab = document.getElementById(targetTab);
    if (!nextTab.classList.contains('chosen')) {
      nextTab.classList.toggle('chosen');
      nextTab.classList.toggle('noHover');
      var nextTabContent = document.getElementById(targetTabContent);
      nextTabContent.classList.toggle('tab-show');
    }
  }
</script>

<script>
  anychart.onDocumentReady(function () {
    var colStyle = {
      fill: '#FF5F6D',
      stroke: null,
      label: { enabled: true }
    }
    var data = [
      { x: '1/3', value: 145, normal: colStyle },
      { x: '2/3', value: 148, normal: colStyle },
      { x: '3/3', value: 149, normal: colStyle },
      { x: '4/3', value: 142, normal: colStyle },
      { x: '5/3', value: 147, normal: colStyle },
      { x: '6/3', value: 140, normal: colStyle },
      { x: '7/3 - today', value: 135, normal: colStyle }
    ];

    var chart = anychart.column();

    chart.column(data);

    chart.title('BLOOD GLUCOSE LEVEL PER DAY');
    chart.xAxis().title('Date');

    chart.container('chart1');
    chart.draw();
  });
</script>