<div class = "text-content">
  <form class = "search-bar" action = "/clinician/messages">
    <input type = "text" placeholder="search note.." name = "search">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>