<div className = "patient-dashboard">
    <div>
        <span><img src = "./images/Blood-glucose-input.png" ></span>
          <span><img src = "./images/Insulin-input.png"></span>
      
    </div>
    <div>
        <span><img src = "./images/Exercise-input.png" ></span>
        <span><img src = "./images/Weight-input.png"></span>
    </div>
</div>

        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        +++++++++++++++++++++++++++++
        
        .+
        " >
        
    </span>
    <span>
        <img src = "./images/Blood-glucose-input" >
        
    </span>

    </div>
</div>