<div class = "patient-dashboard">
    <div class = "icon">
        <div>
            <span class = "task glucose" id = "glucose"><img src = "../images/Blood-glucose.png" /></span>
            <span class = "task insulin" id = "insulin"><img src = "../images/Insulin-input.png"/></span>
        
        </div>
        <div>
            <span class = "task exercise" id = "exercise"><img src = "../images/Exercise-input.png" /></span>
            <span class = "task weight" id = "weight"><img src = "../images/Weight-input.png"/></span>
        </div>
    </div>
     <div class = "form">
    
            <div class ="exit-button"><i class="lni lni-close"></i></div>
            
            <h4 id = "form-title"></h4>
             <form>  
                    <ul>
                        <li>
                            <input type = "text" placeholder="Input here">
                            <label for = "enter-data" id = "unit">Unit</label>
                        </li>
                        <li><p>Notes</p></li>
                        <li>
                            <input class = "note" type = "text" placeholder= "Input text here">
                        </li>
                        <li>
                            <input class = "submit" type = "submit" value = "View data" class = "button">
                            <input class = "submit" type = "submit" value = "Submit" id = "submit-button" class = "button">
                        </li>
                    </ul>
                </form>
               
        </div>
   
     <div class="datepicker"></div>
    <div class= "Leader-Board">
        <div class = "top3">
            <span><a href="https://www.flaticon.com/free-icons/medal" title="medal icons">Medal icons created by Vectors Market - Flaticon</a></span>
            <span></span>
            <span></span>
        </div>

    </div>
     <div id = "overlay"></div>
    
  
   
  

    
</div>
    
       




