<div class="main-content patient-details">

    <div>
        <h1>Messages</h1>
        {{#each messages}}
        <h3>{{time}}</h3>
        <p style="{{style}}">
            {{content}}
        </p>
        {{/each}}
    </div>



</div>