* {
  font-family: Roboto;
  font-size: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: white;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: #0A57AE;
  height: 300px;
  margin-top: 100px;
  position: relative;
}
.footer-logo {
  position: absolute;
  left: 100px;
  top: 79px;
  color: white;
}
.footer img {
  width: 211px;
  height: 87px;
}
.footer-logo {
  text-align: center;
}

.footer-items {
  position: absolute;
  right: 179px;
  top: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.footer-copyright{
  position: absolute;
  left: 45%;
  bottom:10px;
  color: white;
}

.navbar {
  background-color: #0A57AE;
  width: 100%;
  height: 80px;
  font-size: 20px;
  position: relative;
}
.navbar img {
  width: 109px;
  height: 45px;
  position: absolute;
  margin-left: 100px;
  margin-top: 17.5px;
}
.navbar .nav-items {
  position: absolute;
  right: 100px;
  top: 28px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.navbar button {
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 16px;
  color: black;
}
.home {
  display: flex;
  flex-direction: column;
  width: 1428px;
  padding-left: 100px;
  padding-top: 100px;
  gap: 36px;
}
.title {
  font-size: 48px;
  text-align: center;
  color: #0A57AE;
}
.sub-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0A57AE;
}
.misson{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}
.misson div{
  width: 60%;
}
#misson-img{
  margin: 0;
  position: relative;
  bottom: 100px;
}
.users {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  margin-top: 11px;
}
#clinicians {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 51px;
}
.verticle-line {
  border-left: 2px solid #707070;
  height: 560px;
  width: 0;
}

.user {
  padding-left: 23px;
  padding-right: 23px;
}
.user-text h2 {
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

img {
  width: auto;
  height: 315px;
  display: block;
  margin: 20px auto;
}

p {
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

div.home-component a {
  color: black;
}

div.home-component div {
  margin-bottom: 5px;
}


